
@import "susy";

.rsvp {
	margin: 0 auto 2rem; 
  .participants {
    margin: 10px 0px;
    border: 0;
  }
  .participant {
    td { 
      border: 0;
    }
    border: 0;
    .avatar { 
      margin: 10px 5px 0 0;
      vertical-align: middle;
    }
  }
}
